<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">

    <default>
        <servicehome_taxrateupdater>
            <setup>
                <module_active>1</module_active>
                <reindex>0</reindex>
            </setup>
        </servicehome_taxrateupdater>
    </default>

</config>